/* .mainComponent{
    display: relative;
} */
.profile{
    display: flex;
}

.profileLeft{
    flex:3;
}

.profileRight{
    flex:9;
    height: calc(100vh - 50px);
    overflow: scroll;
}

.topbar{
    position:relative;
}

/* .profileRightTop{
    display: flex;
    flex-direction: column;
} */

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    text-align: center;
    margin-bottom: 20px;
}

.profileInfoName{
    font-size: 24px;
    font-weight: 900;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.profileInfoDesc{
    font-size: 16px;
    font-weight: 500;
}

.profileRightBottom{
    display: flex;
    /* position:sticky; */
}
